<html>
     <head>
	       <title>TRACKER</title>
		   
		   	      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	
	
	<link rel="stylesheet" href="design.css">
	
	<link rel="stylesheet" href="960.css">
	
	 </head>
	 <body>
	                       <table>
                            <tr>  <td><a href="http://127.0.0.1:5000/enter_expenses/" class="btn btn-primary" target="_blank">ENTER EXPENSES</a> </td>
							</tr>
							<tr> <td>   <a href="http://127.0.0.1:5000/update_expenses/" class="btn btn-primary" target="_blank">UPDATE EXPENSES</a> </td> </tr>
							<tr> <td>	<a href="http://127.0.0.1:5000/view_expenses/" class="btn btn-primary" target="_blank">VIEW EXPENSES</a>  </td></tr> 
							<tr> <td>   <a href="http://127.0.0.1:5000/" class="btn btn-primary" target="_blank">LOGOUT</a> </td> </tr>
							</table>
							
	 </body>
</html>