<html>
      <head>
	  
	      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	
	
	<link rel="stylesheet" href="design.css">
	
	<link rel="stylesheet" href="960.css">
	
	
                <title>Expense_tracker</title>
      </head>

       <body>
	             <div class="container_12">
				     <div class="grid_9 cname">
								       <h1> Welcome to Expense-tracker </h1>
					 </div>
					 <div class="grid_9">
					 
					 
					 </div>
					 <div class="grid_3 ">
	                         <form method="POST"  enctype="multipart/formdata">
		        
		                               <p>EMAIL_ID</p>
		                               <input type="text" name="Email">
					 
		                               <p>PASSWORD</p>
		             
					                   <p><input type="password" name="Pass"></p>
					                    
									   <input type="Submit" name="request" value="LOGIN" class="btn btn-primary"> 
									   
								       <!-- <a href="http://127.0.0.1:5000/login/" class="btn btn-primary" target="_blank">LOGIN </a> -->
									   <a href="http://127.0.0.1:5000/sign_up/" class="btn btn-primary" target="_blank">SIGNUP</a>
					             
					          </form>
					   <div>Note : If password doesn't match you will be redirected to the same current page .<div>
					 </div>
		        </div>
       </body>

</html>