<html>
      <head>
	  
	      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	
	
	<link rel="stylesheet" href="design.css">
	
	<link rel="stylesheet" href="960.css">
	
	
                <title>Signup_page</title>
      </head>
	  
	  
	  <body>
	         <div class="container_12">
	  	       <form method="POST" enctype="multipart/formdata" class="grid_5 ">
			     <table >
				      <tr class="Name">
					     <td ><label for="one">Name:</label></td>
						 <td><input type="text" name="sname" placeholder="Enter name" id="one" required />
                         </td>
					  </tr>

					  <tr class="mail">
					       <td >Email id:</td>
						   <td><input type="email" name="mail" placeholder="Enter Mail id" required>
                           </td>
					  </tr>
					  
					  <tr class="password">
					       <td >Password:</td>
						   <td><input type="password" name="pw" required>
                           </td>
					  </tr>  
					  
					  <tr >
						  <td colspan="2" align="center"><input type="Submit" name="request" value="REGISTER" class="btn btn-primary">
						  </td>
					  </tr>
					  
				 
				 </table>
			   </form>
			   
			   <p> If you're redirected to same page then mail_id already exist.<p>
			   
			   <div class="grid_12">
			   </div>
			   </div>
		</body>
</html>
